@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f9e1;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: url("https://i.imgur.com/vvU5Z3c.png");
  background-position: center; /* 가운데 정렬 */
  background-repeat: no-repeat; /* 반복하지 않음 */
  background-size: cover; /* 전체 영역을 채우기 */
  background-attachment: fixed; /* 스크롤 시 고정 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
