@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: "Hack Nerd Font";
  src: url("/font/HackNerdFont-Regular.ttf") format("truetype"); /* 경로를 폰트 파일에 맞게 조정 */
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Hack Nerd Font";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
